version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    image: tg-say-my-post:latest
    container_name: tg-say-my-post-bot
    env_file:
      - .env
    volumes:
      - ./out:/app/out
    restart: unless-stopped
